<div class="container d-flex justify-content-center rs mb-5">
  <div class="card mt-5">
    <div class="d-flex flex-row justify-content-between p-3 headerDiv text-white">
      <strong>JS group 13 chat</strong>
      <div class="spinner-border text-info spinner" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="scroll-container">
      <app-message-details *ngFor="let message of messages" [message]="message"></app-message-details>
    </div>
    <app-message-form></app-message-form>
  </div>
</div>




