<div class="d-flex flex-row p-3"><img alt="user"
                                      src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png"
                                      width="30" height="30">
  <div class="chat ml-2 p-3">
    <p>Author: {{ message.author }}</p>
    <p>Message: {{ message.message }}</p>
    <p>{{ message.datetime }}</p>
  </div>
</div>
