<form class="type_msg pb-4" (ngSubmit)="sendMessage()">
  <div class="p-3 backgroundForm">
    <strong>Author: </strong><i>{{ author }}</i>
    <button class="btn btn-warning float-right btn-sm" type="button" (click)="openModal()">Change</button>
  </div>
  <textarea type="text" class="write_msg w-100 border p-2" placeholder="Type a message" [(ngModel)]="text"
            name="text"></textarea>
  <button type="submit" class="btn btn-primary ml-auto d-block mr-2" [disabled]="loading">
    <span *ngIf="!loading">Send</span>
    <span *ngIf="loading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
  </button>
</form>

<app-modal [isOpen]="isModalOpen" (close)="closeModal()">
  <div class="modal-body">
    <h5>Change user name</h5>
    <div class="input-group mb-3">
      <input type="text" placeholder="Enter your name" name="authorName" [(ngModel)]="authorName">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="changeAuthor()">Change</button>
      </div>
    </div>
  </div>
</app-modal>
