<div class="modal fade show" [ngStyle]="{display: isOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content></ng-content>
        <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal-backdrop show"
  [ngStyle]="{display: isOpen ? 'block' : 'none'}"
></div>


