body {
  background: #EEEEEE;
  font-family: 'Roboto', sans-serif
}

.card {
  width: 500px;
  border: none;
  border-radius: 15px;
}

.headerDiv {
  background: #04CB28;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
  height: 46px
}

.chat {
  border: none;
  background: #E2FFE8;
  font-size: 12px;
  border-radius: 20px
}

.bg-white {
  border: 1px solid #E7E7E9;
  font-size: 10px;
  border-radius: 20px
}



